<% layout('boilerplate') %>

<div id="input0">
  <label for="prop1">Enter a proposition</label>
  <input id="prop1" type="text">
</div>

<div id="propInputs">
</div>

<button class="btn btn-success" id="addProp">Add another proposition</button>
<button class="btn btn-primary" id="createTable">Generate Table</button>

<div id="table">

</div>