<% layout('boilerplate') %>
<h3 class="text-center my-5">
  Mark Simoncic
</h3>

<h5 class="col-md-8 offset-md-2">
  Programmer experienced with javascript and web development.  Strong background in math and logic.  Skills include critical thinking, problem solving, analytical skills, and quantitative reasoning.  Experienced with JavasScript, Node, MongoDB, and Express.
</h6>
<div class="text-center mt-4">
  <a href="/projects">View my projects</a>
</div>