<% layout('boilerplate') %>

<body>
  <main class="container">
    <h4 class="text-center">Customizable Ecommerce Store</h4>
    <div class="row">
      <div class="col-4 offset-2">
        image
      </div>
      <div class="col-5">
        description
      </div>
    </div>
  <div class="text-center">
    <a href="#">Prototype</a>
    <a href="https://damp-waters-60307.herokuapp.com/products/browse">Jewerly store implementation</a>
  </div>
  <h4 class="text-center">Truth Table Generator</h4>
  <div class="row">
    <div class="col-4 offset-2">
      image
    </div>
    <div class="col-5">
      description
    </div>
    <div class="text-center">
      <a href="https://www.npmjs.com/package/generate-truth-table">View on NPM</a>
      <a href="https://github.com/masimoncic/generate-truth-table">View on Github</a>
      <a href="/generateTruthTable">Browser implementation</a>
    </div>
  </div>
  </main>
 
  
</body>