<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Simoncic's Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"   href="/css/projects.css">
</head>

<body>
  <main class="container">
    <body>
      <main class="container">
        <h4 class="text-center my-5">Customizable Ecommerce Store</h4>
    
        <div class="row project-description mb-4">
          <div class="col-lg-5 offset-lg-1 project-picture">
            <img src="https://res.cloudinary.com/dklkew1yh/image/upload/v1617484874/portfolio/ttg_kdeseg.png" alt="truth table example" class="img-fluid">
      
          </div>
          <div class="col-lg-4">
            <p class="mt-3">
              Ecommerce store complete with login, reviews, and a shopping cart.  It is customizable and usable for any type of shop. 
              Site admins can create products and set the website name, contact information, and browsable categories.  Technologies used 
              include node, express, mongoDB with mongoose, ejs and bootstrap.
            </p>
            <div class="project-links">
              <a href="#">Prototype</a> <br>
              <a href="https://damp-waters-60307.herokuapp.com/products/browse">Jewerly store implementation</a> <br>
              <a href="https://github.com/masimoncic/customizable-ecommerce">Github repository</a>
            </div>
          </div>
        </div>
        <h4 class="text-center my-5">Truth Table Generator</h4>
        <div class="row project-description mb-4">
          <div class="col-lg-5 offset-lg-1 project-picture">
            <img src="https://res.cloudinary.com/dklkew1yh/image/upload/v1617484874/portfolio/ttg_kdeseg.png" alt="truth table example" class="img-fluid">
          </div>
          <div class="col-lg-4">
            <p class="mt-3">
              A node module which creates a truth table from an array of strings representing statements of propositional logic.
              Utilizes recursive descent parsing to read and organize inputs.  Also includes an extensive test file (found
              in the 'development' branch on github).  Mocha is used for the tests, and the rest was done from sratch.
            </p>
            <div class="project-links">
              <a href="https://www.npmjs.com/package/generate-truth-table">View on NPM</a> <br>
              <a href="/generateTruthTable">Browser implementation</a><br>
              <a href="https://github.com/masimoncic/generate-truth-table">Github repository</a>

            </div>
          </div>
        </div>
        <h4 class="text-center my-5">Forum Board</h4>
        <div class="row project-description mb-4">
          <div class="col-lg-5 offset-lg-1 project-picture">
            <img src="https://res.cloudinary.com/dklkew1yh/image/upload/v1617484874/portfolio/ttg_kdeseg.png" alt="truth table example" class="img-fluid">
          </div>
          <div class="col-lg-4">
            <p class="mt-3">
              A generic internet forum.  Users can create, edit and delete posts their own posts, and comment on other posts.
              Technologies used include node, express, mongoDB with mongoose, ejs and bootstrap.
            </p>
            <div class="project-links">
              <a href="https://secure-basin-40435.herokuapp.com/">View here</a> <br>
              <a href="https://github.com/masimoncic/forum-board">Github repository</a>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-5">Other projects that I've worked on can be found on <a href="https://github.com/masimoncic">github.</a></h5>
        <div class="mt-3 mb-5 col-lg-10 offset-lg-1">
          Some other things I've worked on include <a href="https://masimoncic.github.io/Martian-Zoo/index.html">an economy management game</a>
          and <a href="https://masimoncic.github.io/Teach-a-Language/">a random sentence generator</a>. <br>
          All my projects can be found on <a href="https://github.com/masimoncic">github.</a>
        </div>

      </main>      
    </body>
  </main>
</body>
</html>




