#ttg-picture{
  max-width: 450px;
  height: auto;
}

@media (min-width: 992px) { 
  .project-description {
    position: relative;
  }
  
  .project-links {
    position: absolute;
    bottom: 10px;
  }
}