body {
  /*background pattern from Toptal Subtle Patterns, url : https://www.toptal.com/designers/subtlepatterns/qbkls-pattern/ */
  background-image: url('../qbkls.png');
}

img {
  border: 1px solid black;
}



@media (min-width: 992px) { 
  .description-container{
    margin-left: 4rem;
    min-height: 12rem;
  }
  .project-description {
    position: relative;
  }
  
  .project-links {
    position: absolute;
    bottom: 10px;
  }
}